.todo {
    display: flex;
    margin: 0 auto;
    background: gray;
    max-width: 800px;
    padding: 10px;
}

.cotent1 {
    background: yellow;
    height: 250px;
    widht: 20%;    
    
}

.contentcenter {
    width: 60%;   
    height: 250px;
    display: flex;
    flex-flow: row wrap ;
    justify-content: space-around; 

}

.cotent2 {
    
    background: green;
     width:  30%;   
    height: 115px;
    
}

.cotent3 {
    
    background-color: orange;
    width: 30%; 
    height: 115px;
}

.cotent4 {
    
    background-color: blue;
    width: 30%;   
    height: 115px;
}

.cotent6 {    
    
    width: 30%;  
    background-color: darkorange;
    height: 115px;
 
}

.cotent7 {
    width:  63%; 
    background-color: yellow;
    height: 115px;

}
