.todo {
    width: 800px;
    background: gray;
    display: flex;
    margin: 0 auto;
    padding: 10px;
}

.cotent1 {
    width: 20%; 
    height: 250px;
    background: yellow;
    
       
    
}

.contentcenter {
    width: 60%;   
    height: 250px;
    display: flex;
    flex-flow: row wrap ;
    justify-content: space-around; 

}

.cotent2 {
    width:  30%;   
    height: 115px;
    background: green;
     
    
}

.cotent3 {
    width: 30%; 
    height: 115px;
    background-color: orange;
    
}

.cotent4 {
    width: 30%;   
    height: 115px;
    background-color: blue;
    
}

.cotent6 {    
    
    width: 30%; 
    height: 115px;
    background-color: darkorange;
    
 
}

.cotent7 {
    width:  63%; 
    height: 115px;
    background-color: yellow;
    

}


/*Fin del contenedor del centro. */
.cotent5 {
     width: 20%;  
    height: 250px;
    background-color:violet;
   

}
