h1{
	color:red;
	font-family: Courier New;
}

p{
	color:#9B2B3F;
	font-family: Times New Roman;
}
strong{
color:blue;
}

em {
	color:green;
}
li{
	color:#F3F781;
	background:#5D5959;
	font-family:Arial;
}
