body {
    margin:0;

}

*{
    box-sizing:border-box;
    
}

.todo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-top:50px;
    
}

.content1, .content2, .content3{
    width: 33%;
    
}

/*tablet*/

@media screen and (min-width:768px) and (max-width:900px){
    .content1, .content2{
        width: 50%;
    }
    
    .content3{
        width: 100%;
        
    }
}

/*Movil*/

@media (max-width:767px){
    .content3, .content2, .content1{
        width: 100%;
        
    }
}


.box{
    border: 1px solid black;
    background: #999999;
    margin:1px;
    padding: 15px;
    
}

.titulo{
    margin-top: -15px;
    margin-right: -15px;
    float:right;
    background: red;
    border:1px solid black;
    width: 90px;
    padding: 10px;
    
}

h1{
    text-align: center;
    
}

p{
    margin-top:35px;
}